@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .mainbtn {
    @apply bg-[#1551E5] shadow  disabled:bg-[#E9ECF2] rounded-lg transition px-6 py-4 text-white disabled:text-[#B2BACE];
  }
  .maininp {
    @apply bg-[#FFFFFF] border border-[#E2E4F0] px-3 py-2 hover:border-[#828EAD] hover:text-[#828EAD] focus:border-2 focus:border-[#1551E5] disabled:border-[#F0F3FC] disabled:text-[#F2F5F9] transition;
  }
  li {
    @apply transition;
  }
}
.shadow:hover {
  box-shadow: 0px 12px 16px -7px #1551e570;
  background: rgba(49, 108, 255, 1);
}

.countShadow:hover {
  box-shadow: 0px 0px 6px 0px #bac4e0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.unnumber {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background-color: transparent;
  outline: none;
  width: auto;
  margin: 0;
  padding: 0;
}
